* {
  margin: 0;
  padding: 0;
}

body {
  /*background-image: url("https://blogs-images.forbes.com/karlaalindahao/files/2016/10/Worlds-50-Best-Bars-2016_Dead-Rabbit-New-York_02-1200x675.jpg");*/
  background-image: url("https://bestbarsuk.files.wordpress.com/2014/03/5cc-farringdon-bar-interior.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

.landing_header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*color: #E0B468;*/
  /*border-bottom: 2px solid #E0B468;*/
  color: #9C0500;
  font-size: 4em;
  list-style: none;
  padding-top: 7%;
  padding-bottom: 2%;
  -webkit-text-stroke: 2px #E0B468;
  position: center;
  text-shadow: 9px 9px 9px black;
  font-family: 'Contrail One';
}

.header {
  font-style: oblique;
  width: 100%;
  display: flex;
  justify-content: space-around;
  /*color: #E0B468;*/
  /*border-bottom: 2px solid #E0B468;*/
  color: #9C0500;
  font-size: 4em;
  list-style: none;
  padding-top: 2%;
  padding-bottom: 2%;
  -webkit-text-stroke: 2px #E0B468;
  position: center;
  /*text-shadow: 9px 9px 9px black;*/
}

.specials_beer {
position: center;
padding-left: 35%;
padding-right: 20%;


}

.specials_header{
  /*font-family: 'Contrail One';*/
  font-family: 'Limelight';
  /*font-family: 'Vast Shadow';*/
  /*background-color: rgba(32, 22, 22, .35);*/
  background: linear-gradient(black, transparent);
  color: #9C0500;
  /*-webkit-text-stroke: 1px #E0B468;*/
  padding-top: 6%;
  position: center;
  text-align: center;
  font-size: 5em;
  text-shadow:
       1px  1px     black,
      -1px  3px     #E0B468,
       1px 1px     black,
      -1px -3px     #E0B468,
       1px  1px 5px #E0B468;

}

.nav {
  background-color: black;
  /*border: .5px double #E0B468;*/
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 2%;
  padding-bottom: 2%;
  opacity: .7;
  float: left;
}

.button {
  position: relative;
  background-color: black;
  border-radius: 10%;
  color: #F2B663;
  text-align: center;
  /*opacity: .9;*/
  font-size: 20px;
  box-shadow: 0 0 1pt 1pt #F2B663;
  transition: 2s;
  -webkit-transition: 2s;
  border-color: #F2B663;
  font-family: 'Contrail One';
}

.navButton {
  position: relative;
  background-color: Transparent;
  border-radius: 10%;
  color: #F2B663;
  text-align: center;
  /*opacity: .9;*/
  font-size: 35px;
  /*box-shadow: 0 0 1pt 1pt #F2B663;*/
  transition: 2s;
  -webkit-transition: 2s;
  /*border-color: #F2B663;*/
  font-family: 'Contrail One';
}

.location_button {
  background-color: rgba(0, 0, 0, 0.5);
  border-color: #E0B468;
  opacity: .6;
  color: #E0B468;
  font-size: 1.2em;
  list-style: none;
  -webkit-text-stroke: 2px #E0B468;
  position: center;
  /*text-shadow: 20px 20px 20px black;*/
}

.random_button {
  font-family: 'Contrail One';
  background-color: black;
  border-color: #E0B468;
  opacity: .8;
  color: #9C0500;
  font-size: 1.4em;
  list-style: none;
  -webkit-text-stroke: .3px #E0B468;


}

.enter_button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 7%;
  opacity: 0.8;
  font-family: 'Contrail One';
}

.enterButtonStyle {
  position: relative;
  background-color: transparent;
  color: #F2B663;
  text-align: center;
  /*opacity: .9;*/
  font-size: 20px;
  font-family: 'Contrail One';
}

.submit_button {
  position: relative;
  background-color: transparent;
  /*border-radius: 60%;*/
  color: #F2B663;
  text-align: center;
  /*opacity: .9;*/
  font-size: 20px;
  /*box-shadow: 0 0 1pt 1pt #F2B663;*/
  transition: 2s;
  -webkit-transition: 2s;
  /*border-color: #F2B663;*/
  font-family: 'Contrail One';

}

#map_container {
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 3%;
}

#map {
  height: 400px;
  width: 50%;
  border: 4px solid #340D00;
  border-radius: 5%;
  box-shadow: 0 0 5pt #340D00;
  padding: 4%;
  opacity: .75;
  /*transition: 2s;
    -webkit-transition: 2s;
    border-color: #9C0500;
    outline-color: #9C0500;
    box-shadow: 0 0 2pt 2pt #9C0500;*/
}

.specials_container {
  display: flex;
  justify-content: center;
  /*position: center;
  border: 2px solid #E0B468;*/
}

.specials_style {
  font-family: 'Contrail One';
  text-shadow:
       1px  1px     #E0B468,
      -1px  1px     #E0B468,
       1px -1px     #E0B468,
      -1px -1px     #E0B468,
       1px  1px 5px #555;

  position: center;
  text-align: center;
  font-size: 5em;
}

.submit_style {
  width: 25%;
  height: 70vh;
  margin: 0 auto;
  position: center;
  display: grid;
  overflow: visible;
}

.submit_input {
  text: white;
  position: inherit;

}

input {
  font-size: 12px;
  height: 140%;
  text-align: center;
  border-color: #D0A15C;
  /*outline-color: #86303C;*/
  /*box-shadow: 0 0 2pt 2pt #9C0500;*/
  opacity: .6;
  outline-color: #340D00;
  box-shadow: 0 0 4pt 4pt #340D00;
  transition: 1s;
  -webkit-transition: 1s;
  border-color: #340D00;
}

textarea {
  font-size: 12px;
  text-align: center;
  transition: 2s;
  -webkit-transition: 2s;
  border-color: #D0A15C;
  outline-color: #340D00;
  box-shadow: 0 0 4pt 4pt #340D00;
  opacity: .6;
}

p {
  color: #9C0500;
  -webkit-text-stroke: .7px black;
  position: center;
  text-align: center;
  font-family: 'Contrail One';
}

h1 {
  color: #9C0500;
  /*color: white;*/
  /*-webkit-text-stroke: 1px #E0B468;*/
  position: center;
  text-align: center;
  font-family: 'Contrail One';
}

h2 {
  text-align: center;
  size: 50%;
  color: #9C0500;
  text-shadow:
       1px  1px     #E0B468,
      -1px  1px     #E0B468,
       1px -1px     #E0B468,
      -1px -1px     #E0B468,
       1px  1px 5px #555;

  position: center;
  text-align: center;
  font-family: 'Contrail One';
}
}

h5 {
  text-align: center;
  color: white;
  padding: px;
}

li {
  font-family: 'Racing Sans One' ;
  font-size: 1.8em;
  color: #E0B468;
  /*-webkit-text-stroke: 1px #E0B468;*/
  position: center;
  text-align: center
}

.divScroll {
  position: center;
  margin: auto;
  width: 70vw;
  height: 70vh;
  overflow: scroll;
  padding-bottom: ;
  text-align: center;
  scroll-behavior: smooth;
  text-shadow: 2px 2px 2px black;
}

::-webkit-scrollbar {
  display: none
}


/*
.dropbtn {

    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */

.dropdown {
  position: relative;
  display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
  background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
  display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

*/ */
/*form {
  display: flex;
  justify-content: center;

}*/
