<!-- <div class="">
  <button ui-sref="home" class="button">-HOME-</button>
</div>

<div class="">
  <button ui-sref="specials" class="button">-SPECIALS-</button>
</div>

<div class="">
  <button ui-sref="submit" class="button">-SUBMIT-</button>
</div> -->
<nav class="nav">
  <button ui-sref="submit" class="button">-Submit-</button>
  <button ui-sref="map" class="button">-All Locations-</button>
  <button ui-sref="specials" class="button">-Specials-</button>
</nav>

<h1 class="header">Location</h1>
<div id="map_container">
  <div id="map"></div>



</div>
