<!-- <div class="">
  <button ui-sref="home" class="button">-HOME-</button>
</div>

<div class="">
  <button ui-sref="specials" class="button">-SPECIALS-</button>
</div>

<div class="">
  <button ui-sref="submit" class="button">-SUBMIT-</button>
</div> -->
<nav class="nav">
  <a ui-sref="home" class="navButton">Home</a>
  <a ui-sref="map" class="navButton">Locations</a>
  <a ui-sref="submit" class="navButton">Submit Bar</a>
  <a ui-sref="specials" class="navButton">Specials</a>
</nav>

<h1 class="specials_style">LOCATION</h1>
<center><button ng-click="getRandomBar()" class="random_button">-Get Random Bar-</button></center>
<div id="map_container">
  <div id="map"></div>



</div>
