<div class="">
  <button ui-sref="home" class="button">-HOME-</button>
</div>


<div class="">
  <button ui-sref="map" class="button">-View All Locations-</button>
</div>

<div class="">
  <button ui-sref="submit" class="button">-SUBMIT-</button>
</div>

<h1 class="header">Specials</h1>


<div ui-grid="{ data: myData }" class="myGrid"></div>


<!-- <table align="center">
  <tr>
    <th> Rating </th>
    <th>Bar Name</th>
    <th>Drink Specials</th>
    <th>Find Location</th>
  </tr>
  <tr>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
  </tr>
  <tr>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
  </tr>
  <tr>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
    <td>Table cell</td>
  </tr>
</table> -->
