<!-- <nav class="nav">
  <button ui-sref="home" class="button">-Home-</button>
  <button ui-sref="map" class="button">-All Locations-</button>
  <button ui-sref="submit" class="button">-Submit-</button>
</nav> -->


<div class="nav">
  <button ui-sref="home" class="button">-Home-</button>
  <button ui-sref="map" class="button">-Locations-</button>
  <button ui-sref="submit" class="button">-Submit New Bar-</button>
  <button ui-sref="specials" class="button">-Specials-</button>
</div>



<br>
<h1 class="specials_header">Happy Hour Specials</h1>
<h2>. . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . </h2><br><br>

<!-- <div class="specials_beer">

<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
<span ><img src="https://cdn2.iconfinder.com/data/icons/drink-and-beverages-1/128/Drink-04-32.png" alt=""></span>
</div> -->





<!-- <div ui-grid="{ data: myData.bar_name }" class="myGrid"></div> -->

<!-- <div ui-grid="{ data: myData }" class="myGrid"></div> -->

<div class="divScroll">
  <ul ng-repeat="data in myData">
    <h1 class='specials_style'>{{data.bar_name}}</h1><br>
    <!-- <button ui-sref='moreInfo({id:data.bar_id})' class="" name="button" placeholder=>Location</button><br> -->
    <li ng-repeat="special in data.specials">{{special}}</li><br>
    <!-- <li>{{data.review}}</li><br> -->
    <button ui-sref='moreInfo({id:data.bar_id})' class="button" name="button" placeholder=>-Location-</button><br><br><br>

    <br>
    <br>


  </ul>
</div>
