<div class="">
  <button ui-sref="home"
  class="button">-HOME-</button>
  </div>
<div>

  <h1 class="header">SUBMIT BAR</h1>
<!-- <form  action="index.html" method="post"> -->

<h2>Bar</h2></center>
<input ng-model="form.barName" class="submit_input"type="text" name="" value="" placeholder="Bar Name"></center>
<br>
<br>
<h2>Address</h2></center>
<input ng-model="form.street" type="text" name="" value="" placeholder="Street"></center>
<br>
<input ng-model="form.city" type="text" name="" value="" placeholder="City"></center>
<br>
<input ng-model="form.zip" type="text" name="" value="" placeholder="Zip Code"></center>
<br>
<br>
<h2>Specials</h2></center>
<input ng-model="form.specials" type="text" name="" value="" placeholder="Specials"></center>
<br>
<br>
<h2>Days of Specials</h2></center>
<!-- <input ng-model="form.days" type="text" name="" value="" placeholder="Day of Week "> -->
<h5>M  T  W  T  F</h5></center>
<input ng-model="form.mon" type="checkbox" name="Mond" value="" placeholder="M">
<input ng-model="form.tues" type="checkbox" name="Tues" value="" placeholder="T">
<input ng-model="form.wed" type="checkbox" name="Wed" value="" placeholder="W">
<input ng-model="form.thurs" type="checkbox" name="Thurs" value="" placeholder="T">
<input ng-model="form.fri" type="checkbox" name="Friday" value="" placeholder="F">
<br>
<br>
<h2>Rating</h2></center>
<input ng-model="form.rating" type="text" name="" value="" placeholder="1-5"></center>
<br>
<br>
<h2>Review</h2></center>
<textarea ng-model="form.review" name="name" rows="8" cols="80" placeholder=""></textarea></center>
<br>

<button ng-click="submit(form)"type="submit" name="submit_button" >SUBMIT</button></center>
</div>
<!-- </form> -->
<!-- <div class="">
  <button ui-sref="map" class="button">-MAP-</button>
</div> -->
