<nav class="nav">
  <button ui-sref="home" class="button">-Home-</button>
  <button ui-sref="map" class="button">-All Locations-</button>
  <button ui-sref="specials" class="button">-Specials-</button>
</nav>

<!-- <div class="dropdown">
  <button onclick="myFunction()" class="dropbtn" ></button>
  <div id="myDropdown" class="dropdown-content">
    <a ui-sref="home">Home</a>
    <a ui-sref="map">All Locations</a>
    <a ui-sref="specials">Specials</a>
  </div>
</div> -->

  <h1 class="specials_style">SUBMIT BAR</h1>
  <!-- <form  action="index.html" method="post"> -->

  <div class="submit_style">



    <h2>Bar</h2></center>
    <input ng-model="form.barName" class="submit_input" type="text" name="" value="" placeholder="Bar Name"></center>
    <br>
    <br>
    <h2>Address</h2></center>
    <input ng-model="form.street" type="text" name="" value="" placeholder="Street"></center>
    <br>
    <input ng-model="form.city" type="text" name="" value="" placeholder="City"></center>
    <br>
    <input ng-model="form.zip" type="text" name="" value="" placeholder="Zip Code"></center>
    <br>
    <br>
    <h2>Specials</h2></center>
    <textarea ng-model="form.specials" type="text" rows="5" cols="80" placeholder=""></textarea></center>


    <!-- <h2>Days of Specials</h2></center>
    <!-- <input ng-model="form.days" type="text" name="" value="" placeholder="Day of Week "> -->
    <!-- <h5>M  T  W  T  F</h5></center>
    <input ng-model="form.mon" type="checkbox" name="Mond" value="">
    <input ng-model="form.tues" type="checkbox" name="Tues" value="">
    <input ng-model="form.wed" type="checkbox" name="Wed" value="">
    <input ng-model="form.thurs" type="checkbox" name="Thurs" value="">
    <input ng-model="form.fri" type="checkbox" name="Friday" value=""> --> -->
    <br>
    <br>
    <h2>Rating</h2></center>
    <input ng-model="form.rating" type="text" name="" value="" placeholder="1-5"></center>
    <br>
    <br>
    <h2>Review</h2></center>
    <textarea ng-model="form.review" name="name" rows="6" cols="80" placeholder=""></textarea></center>
    <br>

    <h3 ng-click="submit(form)" class="button" type="submit" name="submit_button">SUBMIT</h>

    <!-- <button ng-click="submit(form)" ui-sref="specials" class="button" type="submit" name="submit_button">SUBMIT</button> -->
  </div>

</div>
<!-- </form> -->
<!-- <div class="">
  <button ui-sref="map" class="button">-MAP-</button>
</div> -->
